.number-tile {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  border: 1px solid white;
  border-radius: 1vw;
  margin: 0.5vw;
  font-weight: 300;
  cursor: pointer;
}

.number-tile.isActive {
  box-shadow: inset #00ff00 0px 0px 11px 0px, #00ff00 0px 0px 1px 4px;
  font-weight: 600;
}

.region:nth-of-type(even) .number-tile {
  background-color: rgb(0, 0, 151);
}

.number-tile.hasActiveRelative {
  box-shadow: inset #00ff00 0px 0px 11px 0px, #00ff00 0px 0px 8px 4px;
}